@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans.ttf") format("truetype");
}
@font-face {
  font-family: "Cascadia Mono";
  src: url("/fonts/CascadiaMono.ttf") format("truetype");
}
/* // Colors
$black: #0e0d0e;
$white: #f2f2f2;
$primary: #ff5555;
$secondary: #50fa7b;
$tertiary: #f1fa8c;
$quaternary: #ffb86c;
$quinary: #bd93f9;
$senary: #ff79c6;
$septenary: #8be9fd; */
.navbar {
  align-items: center;
  background-color: #0e0d0e;
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}
.navbar a {
  color: #f2f2f2;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  padding: 12px;
}
.navbar .menu {
  align-items: center;
  display: flex;
}
.navbar .menu a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 64px;
}
.hero .name {
  font-size: 32px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}
.hero .description {
  font-size: 32px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 24px;
}
.hero .rol {
  color: #f2f2f2;
  font-family: "Cascadia Mono", monospace;
}
.hero .text-button {
  background-color: transparent;
  border: #f2f2f2 1px solid;
  color: #f2f2f2;
  cursor: pointer;
  font-family: "Cascadia Mono", monospace;
  font-size: 20px;
  font-weight: 400;
  height: 51px;
  padding: 0px 16px;
}
.hero .icon-button {
  background-color: transparent;
  border: #f2f2f2 1px solid;
  cursor: pointer;
  height: 51px;
  padding: 0px 16px;
}
.hero .text-button:hover,
.hero .icon-button:hover {
  background-color: rgba(255, 85, 85, 0.2);
}
.hero .buttons-container {
  display: flex;
  gap: 12px;
}

.live-work {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 64px;
}
.live-work .title {
  color: #f2f2f2;
}
.live-work .subtitle {
  color: #f2f2f2;
}
.live-work .label {
  color: #f2f2f2;
}

.live-work .sites-list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  align-items: center;
}
.live-work .sites-list a {
  color: #f2f2f2;
  font-family: "Cascadia Mono", monospace;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}
.live-work .sites-list a:hover {
  background-color: rgba(241, 250, 140, 0.2);
}
.live-work .sites-list p {
  color: #f2f2f2;
  font-family: "Cascadia Mono", monospace;
}

.case-studies {
  align-items: center;
  margin-bottom: 64px;
}
.case-studies .title,
.case-studies .subtitle {
  color: #f2f2f2;
}
.case-studies .card {
  border: 1px solid #f2f2f2;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  gap: 8px;
  padding: 16px;
}
.case-studies .card:hover {
  background-color: rgba(241, 250, 140, 0.1);
  pointer-events: initial;
}
.case-studies .title-card {
  font-family: "Cascadia Mono", monospace;
  font-size: 20px;
  font-weight: 400;
}
.case-studies .card-desc {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
.case-studies .loader {
  color: #f2f2f2;
  display: flex;
  font-family: "Cascadia Mono", monospace;
  font-size: 16px;
  font-weight: 400;
  justify-content: end;
}

.snap {
  align-items: center;
  margin-bottom: 64px;
}
.snap .title,
.snap .subtitle {
  color: #f2f2f2;
}
.snap .image {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.snap .label {
  color: #f2f2f2;
  font-size: 16px;
}
.snap .description {
  align-items: flex-start;
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  gap: 32px;
  justify-content: space-between;
}
.snap .card-list {
  display: flex;
  gap: 24px;
}

.about {
  border: 1px solid #f2f2f2;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 64px;
  padding: 16px;
}
.about .title,
.about .subtitle {
  color: #f2f2f2;
}
.about .description {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  gap: 32px;
  margin-bottom: 4px;
}
.about .label {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  background-color: rgba(255, 121, 198, 0.2);
}

.technos {
  align-items: center;
  margin-bottom: 64px;
}
.technos .title,
.technos .subtitle {
  color: #f2f2f2;
}
.technos .description {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 400;
  gap: 32px;
  margin-bottom: 4px;
}

.footer {
  align-items: center;
  background-color: #0e0d0e;
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  justify-content: space-between;
  margin-bottom: 80px;
}
.footer a {
  align-items: center;
  color: #f2f2f2;
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  padding: 12px;
}
.footer .menu {
  align-items: center;
  display: flex;
}
.footer .social {
  align-items: center;
  display: flex;
}
.footer .social a:hover {
  background-color: rgba(255, 85, 85, 0.2);
}
.footer .top {
  color: #f2f2f2;
}
.footer .top:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  background-color: #0e0d0e;
  color: #f2f2f2;
}

.main {
  margin: 0 auto;
  max-width: 736px;
  padding: 40px 0;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.title-container {
  align-items: center;
  display: flex;
  gap: 8px;
}

.title {
  font-family: "Cascadia Mono", monospace;
  font-size: 24px;
  font-weight: 400;
}

.subtitle {
  font-family: "Cascadia Mono", monospace;
  font-size: 24px;
  font-weight: 400;
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}

.card-description {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 4px;
}

.label {
  font-family: "Cascadia Mono", monospace;
  font-size: 16px;
  font-weight: 400;
}

/*# sourceMappingURL=style.css.map */
