// About Component

.about {
  border: 1px solid $senary;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 64px;
  padding: 16px;

  .title,
  .subtitle {
    color: $senary;
  }

  .description {
    display: flex;
    flex-direction: column;
    font-family: $sans-font;
    font-size: $fs-3;
    font-weight: $fw-r;
    gap: 32px;
    margin-bottom: 4px;
  }

  .label {
    font-family: $sans-font;
    font-size: $fs-3;
    background-color: $senary-shadow;
  }
}
