// Case Studies Component

.case-studies {
  align-items: center;
  margin-bottom: 80px;
}

.case-studies .title {
  color: $secondary;
}

.case-studies .counter {
  color: $secondary;
}

.case-studies .label {
  color: $secondary;
}
