// Case Studies Component

.case-studies {
  align-items: center;
  margin-bottom: 64px;

  .title,
  .subtitle,
  .label {
    color: $secondary;
  }

  .card {
    border: 1px solid $secondary;
    display: flex;
    flex-direction: column;
    font-size: $fs-3;
    gap: 8px;
    padding: 16px;
  }

  .card:hover {
    background-color: $secondary-shadow;
    pointer-events: initial;
  }

  .title-card {
    font-family: $mono-font;
    font-size: $fs-3;
    font-weight: $fw-r;
  }

  .card-desc {
    font-family: $sans-font;
    font-weight: $fw-r;
  }

  .loader {
    color: $secondary;
    display: flex;
    font-family: $mono-font;
    font-size: $fs-4;
    font-weight: $fw-r;
    justify-content: end;
  }
}
