// Footer Component

.footer {
  align-items: center;
  background-color: $black;
  display: flex;
  font-family: $sans-font;
  font-size: $fs-4;
  justify-content: space-between;
  margin-bottom: 80px;

  a {
    align-items: center;
    color: $primary;
    display: flex;
    font-family: $sans-font;
    font-size: $fs-4;
    font-weight: $fw-r;
    text-decoration: none;
    padding: 12px;
  }

  .menu {
    align-items: center;
    display: flex;
  }

  .social {
    align-items: center;
    display: flex;
  }

  .social a:hover {
    background-color: $primary-shadow;
  }

  .top {
    color: $white;
  }

  .top:hover {
    background-color: $white-shadow;
  }
}
