// Footer Component

.footer {
  align-items: center;
  background-color: $black;
  display: flex;
  font-family: $sans-font;
  font-size: $fs-4;
  justify-content: space-between;
  margin-bottom: 80px;
}

.footer a {
  align-items: center;
  color: $primary;
  display: flex;
  font-family: $sans-font;
  font-size: $fs-4;
  font-weight: $fw-r;
  gap: 24px;
  text-decoration: none;
}

.footer .social {
  align-items: center;
  display: flex;
  gap: 24px;
}
