// Live Work Component

.live-work {
  align-items: center;
  margin-bottom: 80px;
}

.live-work .title {
  color: $tertiary;
}

.live-work .counter {
  color: $tertiary;
}

.live-work .label {
  color: $tertiary;
}
