// Navbar Component

.navbar {
  align-items: center;
  background-color: $black;
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}

.navbar a {
  color: $white;
  font-family: $sans-font;
  font-size: $fs-4;
  font-weight: $fw-r;
  text-decoration: none;
  padding: 12px;
}

.navbar .menu {
  align-items: center;
  display: flex;
}

.navbar .menu a:hover {
  background-color: $white-shadow;
}
