.navbar {
  align-items: center;
  background-color: $black;
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
  z-index: 9999;
  transition: top 0.3s;
  position: relative;

  a {
    color: $white;
    font-family: $sans-font;
    font-size: $fs-4;
    font-weight: $fw-r;
    text-decoration: none;
    padding: 12px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  .menu {
    align-items: center;
    display: flex;
  }

  .menu a:hover {
    background-color: $white-shadow;
  }

  .sticky {
    position: fixed;
    top: 0;
    left: 0;
  }
}
