// Snapshots Component

.snap {
  align-items: center;
  margin-bottom: 80px;
}

.snap .title {
  color: $quaternary;
}

.snap .counter {
  color: $quaternary;
}

.snap .label {
  color: $quaternary;
}
