// Snapshots Component

.snap {
  align-items: center;
  margin-bottom: 80px;
}

.snap .title {
  color: $quaternary;
}

.snap .counter {
  color: $quaternary;
}

.snap .image {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.snap .label {
  color: $quaternary;
}

.snap .description {
  align-items: center;
  display: flex;
  font-family: $sans-font;
  font-size: $fs-4;
  font-weight: $fw-r;
  justify-content: space-between;
}
