// Snapshots Component

.snap {
  align-items: center;
  margin-bottom: 64px;

  .title,
  .subtitle {
    color: $quinary;
  }

  .image {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .label {
    color: $quinary;
    font-size: $fs-4;
  }

  .description {
    align-items: flex-start;
    display: flex;
    font-family: $sans-font;
    font-size: $fs-4;
    font-weight: $fw-r;
    gap: 32px;
    justify-content: space-between;
  }

  .card-list {
    display: flex;
    gap: 24px;
  }
}
