@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans.ttf") format("truetype");
}

@font-face {
  font-family: "Cascadia Mono";
  src: url("/fonts/CascadiaMono.ttf") format("truetype");
}

// Breakpoints
$desktop: 1150px;
$tablet: 850px;
$phablet: 700px;
$mobile: 540px;

// Colors
$black: #121212;
$white: #f2f2f2;
$primary: #f9f1a5;
$secondary: #1add13;
$tertiary: #f9aab0;
$quaternary: #92c5ed;
$quinary: #cccccc;
$senary: #a8ffa8;

// Fonts
$sans-font: "Open Sans", sans-serif;
$mono-font: "Cascadia Mono", monospace;

// Font Size
$fs-1: 32px;
$fs-2: 24px;
$fs-3: 20px;
$fs-4: 16px;
$fs-5: 14px;
$fs-6: 12px;

// Font Weight
$fw-r: 400;
$fw-b: 700;
