@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans.ttf") format("truetype");
}

@font-face {
  font-family: "Cascadia Mono";
  src: url("/fonts/CascadiaMono.ttf") format("truetype");
}

// Colors
$black: #121212;
$white: #f2f2f2;
$primary: #f9f1a5;
$secondary: #1add13;
$tertiary: #f9aab0;
$quaternary: #92c5ed;
$quinary: #cccccc;
$senary: #a8ffa8;

// Fonts
$primary-font: "Open Sans", sans-serif;
$secondary-font: "Cascadia Mono", monospace;

// Font Size
$title-font-size: 32px;
$subtitle-font-size: 24px;
$body-font-size: 20px;
$caption-font-size: 16px;
$legend-font-size: 14px;
$mini-font-size: 12px;

// Font Weight
$font-weight-regular: 400;
$font-weight-bold: 700;
