@import "variables";
@import "navbar";
@import "hero";
@import "live-work";
@import "case-studies";

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  background-color: $black;
  color: $white;
}

.main {
  margin: 0 auto;
  max-width: 736px;
  padding: 40px 0;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.title {
  font-family: $mono-font;
  font-size: $fs-2;
  font-weight: $fw-r;
}

.title-container {
  align-items: center;
  display: flex;
  gap: 8px;
}

.counter {
  font-family: $mono-font;
  font-size: $fs-3;
  font-weight: $fw-r;
}

.list-card {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 16px;
}

.card-description {
  font-family: $sans-font;
  font-size: $fs-2;
  font-weight: $fw-r;
  margin-bottom: 4px;
}

.label {
  font-family: $mono-font;
  font-size: $fs-4;
  font-weight: $fw-r;
}
