@import "variables";

* {
  background-color: $black;
}

ul,
li,
a {
  text-decoration: none;
  color: $white;
  list-style-type: none;
}

body {
  color: $white;
}

.tit-sans,
.subt-sans {
  font-family: $primary-font;
  font-size: $title-font-size;
}

.subt-sans {
  font-size: $subtitle-font-size;
  font-weight: $font-weight-regular;
}

.tit-code,
.subt-code {
  font-family: $secondary-font;
  font-size: $title-font-size;
}

.subt-code {
  font-size: $subtitle-font-size;
}
