// Technologies Component

.technos {
  align-items: center;
  margin-bottom: 80px;
}

.technos .title {
  color: $senary;
}

.technos .counter {
  color: $senary;
}

.technos .label {
  color: $senary;
}

.technos .description {
  display: flex;
  flex-direction: column;
  font-family: $sans-font;
  font-size: $fs-2;
  font-weight: $fw-r;
  gap: 32px;
  margin-bottom: 4px;
}
